{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "exclude": [
        "./coverage/**",
        "./dist/**",
        "**/*.spec.ts",
        "./src/main.ts",
        "./src/test.ts",
        "**/*.conf.js"
    ]
}
